# dataset
./datasets/
data/
!data/.README.md

# __pycache__
**/__pycache__
# example
example/


# outputs
results/
save/
refcoco+_bert_base_6layer_6conect-pretrained/
# **/*.pth

# checkpoints
.ipynb_checkpoints/
checkpoints/*.pth

# test
test.py

# pdf
*.pdf

**/pretrain/